<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div><center>
        <img class="fit-picture"
             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjgYRPRqN9jC68TGIa04jhc8gawaVIxTCxQ3r6jCHk2aarzAgj5w&s"
             alt="no image" width="400"/>
    </center></div>
    <div style="font-size: 1.5em; color: #050">
        <h1><center>SKKU JOB</center</h1>
    </div>
<!--    <h1 class="col-12 text-center">SKKU JOB</h1>-->
    <div class="row mt-5"><center>
        <button class="btn btn-primary"
                style="margin-bottom: 20px; color: #fff; background: gray; font-size:2em; border-radius:0.2em; padding:5px 20px"
                onClick="location.href='/user/login/'">SIGN IN</button>
    </center></div>
    <div class="col-6"><center>
        <button class="btn btn-primary"
                style="margin-bottom: 20px; color: #fff; background: gray; font-size:2em; border-radius:0.2em; padding:5px 20px"
                onClick="location.href='/user/signup/'">SIGN UP</button>
    </center></div>
    <div class="row mt-1"><center>
        <button class="btn btn-primary"
                style="margin-bottom: 20px;color: #fff; background: gray; font-size:2em; border-radius:0.2em; padding:5px 20px"
                onClick="location.href='/superuser/'">admin</button>
    </center></div>
</body>
</html>